.pass-item {
  .hl-list-item-icon {
    width: 1.6875rem*12/50;
    height: 1.6875rem*12/50;
    background-size: 1.6875rem*12/50;
    background-repeat: no-repeat;
  }
  .icon-person {
    width: .3rem;
    height: .3rem;
    background-size: .3rem;
    background-repeat: no-repeat;
    background-image: url('./person.svg');
  }
  .icon-add {
    background-image: url('./add-with-circle.svg');
  }
  .icon-selected {
    background-image: url('./selected.svg');
  }
  .icon-unselected {
    background-image: url('./unselected.svg');
  }
  .icon-edit {
    background-image: url('./edit.svg');
  }
}