@import "./../../../styles/hl-ui/scss/_variables";
.accordion {
  .accordion-icon {
    float: right;
    margin-top: .6rem*12/50;
  }
  .expanded {
    width: 0;
    height: 0;
    border-left: .25rem*12/50 solid transparent;
    border-right: .25rem*12/50 solid transparent;
    border-bottom: .4rem*12/50 solid $blue;
  }
  .collapsed {
    width: 0;
    height: 0;
    border-left: .25rem*12/50 solid transparent;
    border-right: .25rem*12/50 solid transparent;
    border-top: .4rem*12/50 solid $blue;
  }
  .hl-show {
    display: block;
  }
  .hl-hide {
    display: none;
  }
}