<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <title>页面找不到</title>
  <link rel="stylesheet" href="{{url_base}}scripts/404/404.css">
</head>

<body>
  <div id="content">
    <img class="head" src="{{url_base}}scripts/404/head-404.png">
    <img class="status" src="{{url_base}}scripts/404/status-404.png">
    <div class="text">您要找的页面脱离航线了~</div>
    <a class="btn" href="javascript:history.back()">返&nbsp;&nbsp;&nbsp;回</a>
  </div>
</body>

</html>